<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:myname="http://www.yaozi.com/schema/user"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	   	http://www.yaozi.com/schema/user https://www.yaozi.com/schema/user.xsd">
	<bean id="hello" class="com.yaozi.demo.beans.Hello"></bean>

	<myname:user id="testUser" userId="0000001" userName="小李"/>
</beans>